spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5433/pet_insurance
    username: pet_user
    password: pet_password
  sql:
    init:
      mode: always

logging:
  level:
    org.springframework.r2dbc: DEBUG
    io.r2dbc.postgresql: DEBUG
